@import "bootstrap-sprockets";
@import "bootstrap";
#header {
  padding: 10px 0px;
  background: #F9F9F9;
  border-bottom: 1px solid #eee;
  .side-left {
    float: left;
    display: inline-block;
  }
  .side-right {
    padding: 15px;
    float: right;
    .form-search {
      float: left;
      width: 45%;
      form {
        width: 100%;
        #search_book_name {
          width: 100%;
          height: 50px;
          padding-left: 20px;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .list-item {
      li {
        a {
          font-size: 17px;
          color: black;
          font-weight: 500;
          &:hover {
            text-decoration: none;
            background: none;
            color: #5fcf80;
          }
        }
      }
    }
  }
}
.main-body {
  margin-top: 100px;
  .container {
    padding-top: 40px;
    background: white;
    .user-form {
      h1 {
        text-align: center;
      }
      input, textarea, select, .uneditable-input {
        border: 1px solid #bbb;
        width: 100%;
        margin-bottom: 15px;
      }
      input {
        height: auto !important;
      }
      .checkbox {
        margin-left: 20px;
        margin-top: -10px;
        margin-bottom: 10px;
        span {
          margin-left: 10px;
          font-weight: normal;
        }
      }
    }
    #errors_panel {
      .error_explanation {
        color: red;
        ul {
          color: red;
          margin: 0 0 30px 0;
        }
      }
      .field_with_errors {
        @extend .has-error;
        .form-control {
          color: red;
        }
      }
    }
    #user-show {
      background: white;
      padding: 20px;
      .user-profile {
        line-height: 3;
        .avatar {
          padding-bottom: 10px;
        }
        .stats {
          overflow: auto;
          margin-top: 0;
          padding: 0;
          a {
            float: left;
            padding: 0 10px;
            border-left: 1px solid $gray-lighter;
            color: gray;
            &:first-child {
              padding-left: 0;
              border: 0;
            }
            &:hover {
              text-decoration: none;
              color: blue;
            }
          }
          strong {
            display: block;
          }
        }
      }
      .user-content {
        .borrow-book {
          padding-top: 30px;
          .title {
            font-size: 25px;
            text-align: center;
            padding-bottom: 30px;
          }
        }
        .following-books {
          .title {
            font-size: 25px;
            text-align: center;
            padding-bottom: 30px;
          }
          .list-books {
            .block-book {
              .block {
                min-height: 180px;
                .image {
                  margin-top: 15px;
                }
                .caption {
                  padding-left: 20px;
                  .author {
                    span {
                      display: inline-block;
                      ul {
                        padding-left: 0px;
                        list-style: none;
                      }
                    }
                  }
                  .category {
                    span {
                      display: inline-block;
                      ul {
                        padding-left: 0px;
                        list-style: none;
                      }
                    }
                  }
                  a {
                    &:hover {
                      text-decoration: none;
                      color: #5fcf80
                    }
                    .block {
                      min-height: 250px;
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
        }
        .user-follow {
          .title {
            font-size: 25px;
            text-align: center;
            padding-bottom: 30px;
          }
          .list-user {
            .block {
              padding: 15px;
              border-bottom: 1px solid #eee;
              .image {
                display: inline-block;
              }
              .name {
                padding-left: 30px;
                display: inline-block;
              }
            }
          }
        }
        .author-followed {
          .title {
            font-size: 25px;
            text-align: center;
            padding-bottom: 30px;
          }
        }
      }
    }
    #author-show {
      .author-profile {
        line-height: 3;
        .avatar {
          padding-bottom: 10px;
        }
        .stats {
          overflow: auto;
          margin-top: 0;
          padding: 0;
          a {
            float: left;
            padding: 0 10px;
            border-left: 1px solid $gray-lighter;
            color: gray;
            &:first-child {
              padding-left: 0;
              border: 0;
            }
            &:hover {
              text-decoration: none;
              color: blue;
            }
          }
          strong {
            display: block;
          }
        }
      }
      .author-content {
        .list-books {
          .block-book {
            .block {
              min-height: 180px;
              .image {
                margin-top: 15px;
              }
              .caption {
                padding-left: 20px;
                .author {
                  span {
                    display: inline-block;
                    ul {
                      padding-left: 0px;
                      list-style: none;
                    }
                  }
                }
                .category {
                  span {
                    display: inline-block;
                    ul {
                      padding-left: 0px;
                      list-style: none;
                    }
                  }
                }
                a {
                  &:hover {
                    text-decoration: none;
                    color: #5fcf80
                  }
                  .block {
                    min-height: 250px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
        .user-following {
          .list-users {
            .block {
              padding: 15px;
              border-bottom: 1px solid #eee;
              .image {
                display: inline-block;
              }
              .name {
                display: inline-block;
                padding-left: 30px;
              }
              &:hover {
                text-decoration: none;
                color: #5fcf80;
              }
            }
          }
        }
      }
    }
    #author-show {
      .author-profile {
        line-height: 3;
        .avatar {
          padding-bottom: 10px;
        }
        .stats {
          overflow: auto;
          margin-top: 0;
          padding: 0;
          a {
            float: left;
            padding: 0 10px;
            border-left: 1px solid $gray-lighter;
            color: gray;
            &:first-child {
              padding-left: 0;
              border: 0;
            }
            &:hover {
              text-decoration: none;
              color: blue;
            }
          }
          strong {
            display: block;
          }
        }
      }
      .author-content {
        .list-books {
          .block-book {
            .block {
              min-height: 180px;
              .image {
                margin-top: 15px;
              }
              .caption {
                padding-left: 20px;
                .author {
                  span {
                    display: inline-block;
                    ul {
                      padding-left: 0px;
                      list-style: none;
                    }
                  }
                }
                .category {
                  span {
                    display: inline-block;
                    ul {
                      padding-left: 0px;
                      list-style: none;
                    }
                  }
                }
                a {
                  &:hover {
                    text-decoration: none;
                    color: #5fcf80
                  }
                  .block {
                    min-height: 250px;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
        .user-following {
          .list-users {
            .block {
              padding: 15px;
              border-bottom: 1px solid #eee;
              .image {
                display: inline-block;
              }
              .name {
                display: inline-block;
                padding-left: 30px;
              }
              &:hover {
                text-decoration: none;
                color: #5fcf80;
              }
            }
          }
        }
      }
    }
    #book {
      .search-form {
        text-align: center;
        margin-bottom: 30px;
        input {
          width: 15%;
          padding: 10px;
          border: none;
          border: 1px solid #5fcf80;
          &#search_status {
            width: 2% !important;
          }
          &.submit {
            width: 10%;
            border-radius: 0px;
            background: #5fcf80;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .list-categories {
        list-style: none;
        background: #F9F9F9;
        padding-left: 0px;
        a {
          color: black;
          &:hover {
            text-decoration: none;
            color: #5fcf80;
          }
          li {
            &.active {
              background: gray;
              color: #5fcf80;
            }
            padding: 15px;
            border-bottom: 1px solid #eee;
          }
        }
      }
      .list-books {
        .block-book {
          .block {
            min-height: 180px;
            .image {
              margin-top: 15px;
            }
            .caption {
              padding-left: 20px;
              .author {
                span {
                  display: inline-block;
                  ul {
                    padding-left: 0px;
                    list-style: none;
                  }
                }
              }
              .category {
                span {
                  display: inline-block;
                  ul {
                    padding-left: 0px;
                    list-style: none;
                  }
                }
              }
              a {
                &:hover {
                  text-decoration: none;
                  color: #5fcf80
                }
                .block {
                  min-height: 250px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
    #book-show {
      padding: 10px;
      .cover {
        img {
          min-width: 230px;
        }
        .user-activities {
          margin-top: 40px;
          .borrow-book {
            margin-top: 20px;
          }
        }
      }
      .content {
        h3 {
          font-size: 30px;
        }
        .list-info {
          list-style: none;
          padding-left: 0px;
          li {
            padding: 15px;
            color: 15px;
            border-bottom: 1px solid gray;
            span {
              display: inline-block;
            }
            .list {
              display: inline-block;
              list-style: none;
              padding-left: 10px;
              a {
                li {
                  padding: 0px !important;
                  border: none !important;
                }
                &:hover {
                  text-decoration: none;
                  color: #5fcf80
                }
              }
            }
          }
        }
      }
      .description {
        padding-top: 20px;
        font-size: 15px;
      }
      .borrow-book {
        .form-borrow {
          label {
            display: block;
          }

        }
      }
      .comment {
        .leave {
          font-size: 20px;
        }
        .form-comment {
          padding-top: 15px;
          textarea {
            padding: 10px;
            font-size: 16px;
            &:focus {
              outline: none;
              border: 1px solid #5fcf80;
            }
          }
        }
        .list-comments {
          margin-top: 40px;
          .block-comment {
            background: white;
            margin-bottom: 25px;
            &:hover {
              border: 1px solid #5fcf80;
            }
            min-height: 120px;
            padding: 20px;
            width: 677px;
            border: 1px solid #eee;
            .avatar {
              display: inline-block;
              width: 60px;
              height: 60px;
            }
            .user-comment {
              line-height: 25px;
              display: inline-block;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
}
#footer {
  background: #F9F9F9;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  p {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
