<div class="footer">
  <div class="container">
    <span>
      &copy;
      <%= t "views.footer_admin.copy_right" %>
      <%= link_to "#" do %>
        <%= t "views.footer_admin.name_team" %>
      <% end %>
    </span>
  </div>
</div>
