<footer id="footer">
  <div class="container">
    <p><%= t "views.footer.made_by" %></p>
    <nav>
      <ul>
        <li><%= link_to t("views.footer.about"), "#" %></li>
        <li><%= link_to t("views.footer.contact"), "#" %></li>
      </ul>
    </nav>
  </div>
</footer>
